.search__container {
  width: 100%;
}

.search-bar {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 6px;
}

.search-input {
  border: 1px solid black;
  height: 31px;
  padding-left: 10px;
  width: 50%;
}

.search-btn {
  padding: 6px 12px;
}
